<template>
  <div>
    <ReactiveCanvas style="width: 100%; height: 100%;" :text="headerText">
        <Ray v-for="angle in Array.from(Array(numRays).keys())" :key="angle" 
          :angleOffset="getOffset(angle * 360/numRays)" 
          :angleWidth="width" 
          :color="raycolor"
          :start="raystart"/>
        <Title :text="headerText"></Title>
    </ReactiveCanvas>
    <hr>
    <div class="ui right labeled input">
      <label for="rotationDegrees" class="ui label">Rotation Speed</label>
      <input type="text" v-model="rotationDegreesPerSecond" id="rotationDegrees"/>
      <div class="ui basic label">degrees / sec</div>
    </div>
    <div class="ui divider"/>
    <div class="ui labeled input">
      <label for="rayCount" class="ui label">Number of Rays</label>
      <input type="text" v-model.number="numRays" id="rayCount"/>
    </div>
    <div class="ui divider"/>
    <div class="ui right labeled input">
      <label for="rayWidth" class="ui label">Ray Width</label>
      <input type="text" v-model.number="width" id="rayWidth"/>
      <div class="ui basic label">degrees</div>
    </div>
    <div class="ui divider"/>
    <div class="ui labeled input">
      <label for="headerText" class="ui label">Header Text</label>
      <input type="text" v-model.number="headerText" id="headerText"/>
    </div>    
  </div>
</template>

<script>
import ReactiveCanvas from './ReactiveCanvas';
import Ray from './Ray';
import Title from './Title';

export default {
  name: 'app',
  components: {
    ReactiveCanvas, Ray, Title
  },

  data() {
    return {
      timer: null,
      offset: 0,
      raycolor: '#fff4d7',
      width: 4,
      numRays: 48,
      startTime: Date.now(),
      rotationDegreesPerSecond: 3,
      raystart: 100
    };
  },

  props: {
      headerText: { type: String, default: 'JESUS' }
  },

  methods: {
    getOffset(angle) {
      return this.offset + angle;
    },
    animate() {
      const elapsed = Date.now() - this.startTime;
      this.offset = this.rotationDegreesPerSecond * elapsed/1000;
      if(this.offset >= 360) {
        this.startTime = Date.now();
      }
      requestAnimationFrame(this.animate);
    }
  },
  created() {
    const _this = this;
    this.animate();
  }
}
</script>