<template>
  <div class="canvas-wrapper column">
    <canvas ref="reactive-canvas"></canvas>
    <slot></slot>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // By creating the provider in the data property, it becomes reactive,
      // so child components will update when `context` changes.
      provider: {
        // This is the CanvasRenderingContext that children will draw to.
        context: null
      }
    }
  },
  props: {
    text: {
      type: String, default: 'JESUS'
    } 
  },

  // Allows any child component to `inject: ['provider']` and have access to it.
  provide () {
    return {
      provider: this.provider
    }
  },

  mounted () {
    // We can't access the rendering context until the canvas is mounted to the DOM.
    // Once we have it, provide it to all child components.
    this.provider.context = this.$refs['reactive-canvas'].getContext('2d')

    // Resize the canvas to fit its parent's width.
    // Normally you'd use a more flexible resize system.
    this.$refs['reactive-canvas'].width = this.$refs['reactive-canvas'].parentElement.clientWidth
    this.$refs['reactive-canvas'].height = this.$refs['reactive-canvas'].parentElement.clientHeight
  }
}
</script>

<style scoped>
canvas {
  width: 100%; height: 100%;
}
</style>